name: Publish OpenAPI docs
on:
  push:
    branches: [ main ]

permissions:
  contents: write  # needed to push to gh-pages

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: generate sphinx docs
        run: |
          python -m pip install --upgrade pip
          pip install '.[dev]'
          cd docs
          make html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs